{%extends 'app/base.html'%}

{%block content%}
<h2>Add Skill</h2>

<form method="POST">
{% csrf_token %}

<label>Skill Name</label>
<input type="text" name="name" placeholder="name">

<label>Skill Level</label>
<input type="text" name="level" placeholder="level">

<label>Experience Level</label>
<input type="text" name="experience" placeholder="experience">

<button type="submit" class="btn">Save</button>

{% comment %} {% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %} {% endcomment %}

</form>

{%endblock%}